<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
     <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
    <h1>Contact Us</h1>
    <img src="/assets/images/code.jpg",alt="Contact Image" width="400" />
    <p>If you have any questions or would like to get in touch with us, please fill out the form below:</p>
         saepe accusantium expedita harum excepturi officiis. Natus, ipsa aliquid. Tenetur?</p>
</body>
</html>