<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
    <h1>Home Page</h1>
    <img src="/assets/images/coding.jpg",alt="Coding Image" width="400" />
    <p>Welcome to our home page!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam at vel corrupti consequuntur perspiciatis inventore 
        sint doloribus beatae ad, nam,
         saepe accusantium expedita harum excepturi officiis. Natus, ipsa aliquid. Tenetur?</p>
</body>
</html>